[Desktop Entry]
Type=Application
Name=Fakecam
Comment=Virtual Backgrounds for your video conferences and streaming presentations
Categories=video
Icon=camera-web
Exec=fakecam.gui
Terminal=false
